//COLORS
$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Gray:hsl(208, 12%, 55%);
$White:#fff;

//UI

$background-body:$White;
$background-wave-light:$Very-Pale-Blue;
$background-footer:$Very-Dark-Cyan;
$background-button:$Pink;
$background-button-hover:$Light-Pink;

$border-button:$Light-Pink;

$color-footer:$White;
$color-main:$Very-Dark-Cyan;
$color-secondary:$Gray;
